header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
  position: fixed;
  background-color: var(--blue);
  top: 0;
  z-index: 1;
  height: var(--header-height);
  width: 100%;
}
