header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--blue);
  margin-bottom: 24px;
}

header a {
  color: rgb(247, 247, 247);
}
