header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  position: sticky;
  background-color: var(--blue);
  top: 0;
  padding-left: var(--horizontal-spacing);
  padding-right: var(--horizontal-spacing);
}
