* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue: rgb(0, 88, 171);
  --yellow: rgb(251, 217, 20);
  --horizontal-spacing: 28px;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(247, 247, 247);
}
