* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue: rgb(0, 88, 171);
  --disabled-blue: rgba(0, 88, 171, 0.4);
  --yellow: rgb(251, 217, 20);
  --page-padding: 28px;
  --header-height: 75px;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: "Montserrat-Bold", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  color: rgb(247, 247, 247);
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.cart,
.shop {
  padding: var(--page-padding);
  margin-top: var(--header-height);
}
