nav {
  display: flex;
  gap: 28px;
}

nav a {
  font-size: 1.25rem;
}

.cart-link {
  position: relative;
  animation: shake 0.9s ease;
}

.amount-in-cart {
  background-color: #0da371;
  border-radius: 50%;
  top: 14px;
  left: 12px;
  font-size: 0.8rem;
  width: 18px;
  height: 18px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
