.no-products-found {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  gap: 8px;
}

.return-to-shop {
  background-color: var(--blue);
  padding: 12px 32px;
  border-radius: 4px;
  margin-top: 12px;
}
