.shop-item {
  cursor: pointer;
  animation: 0.5s render ease;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
  transition: box-shadow 0.25s ease-in-out 0s;
  max-width: 228px;
  background-color: var(--white);
}

.shop-item:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 6px 25px;
}

.product-image-container {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  width: 228px;
  height: 228px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.shop-item:hover .product-image {
  transform: scale(1.17);
}

.shop-item-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-item-product-name {
  font-family: "Montserrat-SemiBold";
}

.shop-item-product-price {
  color: green;
  letter-spacing: 0.7px;
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 1.1rem;
}

@keyframes render {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
