.shop-item {
  padding: 18px;
  background-color: aliceblue;
  cursor: pointer;
  transition: 0.2s ease;
  animation: 0.3s render;
}

.shop-item:hover {
  transform: scale(1.1);
}

.product-image {
  width: 120px;
}

@keyframes render {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
