.searchbar-container {
  --searchbar-bg-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--searchbar-bg-color);
  --search-text-size: min(4vw, 46px);
  animation: search-render 0.8s ease;
}

.search-bar {
  position: relative;
}

#search-input {
  border: none;
  padding: 5px 0 5px min(calc(4vw + 16px), 69px);
  outline: none;
  background-color: transparent;
  caret-color: var(--white);
  color: var(--white);
  font-size: var(--search-text-size);
}

.search-bar::after {
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  border-bottom: 3px solid #1890ff;
  animation: border-bottom 0.8s ease;
  margin: auto;
}

#search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: var(--search-text-size);
  width: var(--search-text-size);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z' fill='rgb(247,247,247)'/%3E%3C/svg%3E");
  background-size: var(--search-text-size);
}

#search-input::placeholder {
  color: #afafaf;
}

.query-search {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 4px;
  top: 5px;
  font-size: var(--search-text-size);
  transform: scale(0.9);
  color: var(--white);
}

.close-searchbar {
  position: absolute;
  top: 18vh;
  right: 22vw;
  background: none;
  border: none;
  outline: none;
  color: var(--white);
  font-size: min(6vw, 48px);
}

@keyframes border-bottom {
  from {
    width: 25%;
  }
  to {
    width: 100%;
  }
}

@keyframes search-render {
  from {
    background-color: rgba(0, 0, 0, 0.26);
  }
  to {
    background-color: var(--searchbar-bg-color);
  }
}
